<!DOCTYPE html>
<html>
<head>
  <title>Flexa downloadable</title>
  <%= stylesheet_link_tag    "flexa_downloadable/application", media: "all" %>
  <%= javascript_include_tag "flexa_downloadable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
